
body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: coral;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* .header{
    display: flex;
    justify-content: center;

} */

.bodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: black 5px solid;
    margin: 5%;
    /* centers boxes on page */
    /* align-items: center; */
}
.headerContainer{
    display: flex;
    justify-content: center;
    border: black 5px solid;
    max-width: 100%;
    margin: 50px;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255,255,0,0.5);
}
.quizContainer {
    display: flex;
    justify-content: center;
    /* centers boxes on page */
    align-items: center;
    border: black 5px solid;
    flex-direction: column;
    margin: 18px;
}
.questionContainer {
    display: flex;
    justify-content: center;
    border: black 5px solid;
    margin: 15px;
    padding: 20px;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255,255,0,0.5);
}
.timerContainer {
    border: black 5px solid;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255,255,0,0.5);
}
.answersContainer {
    display: flex;
    border: black 5px solid;
    margin: 15px;
    padding: 40px;
    flex-direction: column;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255,255,0,0.5);
}
.answersContainer li {
    list-style: none;
    display: flex;
    /* border: black 5px solid; */
    margin: 5%;
    justify-content: left;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255,255,0,0.5);
}
.submitContainer {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border: black 5px solid;
    margin: 25px;
    padding: 10px;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255,255,0,0.5);
}
